In [1]:
print("Hello")

Hello

In [4]:
import MySQLdb

In [12]:
import MySQLdb

# Connect to the database
db = MySQLdb.connect(
    host="localhost",
    user="root",
    passwd="root",
    db="pg_management"
)

# Create a cursor object to interact with the database
cursor = db.cursor()

# Test the connection by executing a query
cursor.execute("SELECT VERSION()")
version = cursor.fetchone()
print("Database version:", version)

# Close the connection
# db.close()

Database version: ('8.0.41',)

# insert sql

In [15]:
insert_query = "INSERT INTO pg (PG_NAME, PG_ADDRESS) VALUES (%s, %s)"
data = ("Sunshine PG", "123 Elm Street")

try:
    cursor = db.cursor()
    cursor.execute(insert_query, data)
    db.commit()
    print("Record inserted successfully!")
except MySQLdb.Error as e:
    print(f"Error: {e}")

Record inserted successfully!

# Select SQL

In [16]:
try:
    cursor = db.cursor()
    cursor.execute("SELECT * FROM pg")
    results = cursor.fetchall()
    for row in results:
        print(row)
except MySQLdb.Error as e:
    print(f"Error: {e}")

(1, 'Comfort Stay PG', '123 Main Street')
(2, 'Elite Living PG', '456 High Avenue')
(3, 'Green Nest PG', '789 Garden Road')
(4, 'Blue Ridge PG', '101 Ocean Drive')
(5, 'Urban Heights PG', '202 Downtown Lane')
(6, 'Harmony PG', '303 Sunshine Avenue')
(7, 'Serenity PG', '404 Peace Street')
(8, 'Metro Life PG', '505 Metro Boulevard')
(9, 'River View PG', '606 Riverside Park')
(10, 'Golden Nest PG', '707 Gold Street')
(11, 'Slvr PG', 'Tulasi Theater Road')
(12, 'Sunshine PG', '123 Elm Street')
(13, 'Sunshine PG', '123 Elm Street')
(14, 'Sunshine PG', '123 Elm Street')

In [17]:
class Conn:
    def __init__(self):
        self.db = MySQLdb.connect(
        host="localhost",
        user="root",
        passwd="root",
        db="pg_management"
        )

In [18]:
conn = Conn()
cursor = conn.db.cursor()

In [19]:
cursor

In [30]:
cursor.execute("SELECT * FROM pg")
results = cursor.fetchall()

In [31]:
results

((1, 'Comfort Stay PG', '123 Main Street'),
 (2, 'Elite Living PG', '456 High Avenue'),
 (3, 'Green Nest PG', '789 Garden Road'),
 (4, 'Blue Ridge PG', '101 Ocean Drive'),
 (5, 'Urban Heights PG', '202 Downtown Lane'),
 (6, 'Harmony PG', '303 Sunshine Avenue'),
 (7, 'Serenity PG', '404 Peace Street'),
 (8, 'Metro Life PG', '505 Metro Boulevard'),
 (9, 'River View PG', '606 Riverside Park'),
 (10, 'Golden Nest PG', '707 Gold Street'),
 (11, 'Slvr PG', 'Tulasi Theater Road'),
 (12, 'Sunshine PG', '123 Elm Street'),
 (13, 'Sunshine PG', '123 Elm Street'),
 (14, 'Sunshine PG', '123 Elm Street'))

## Update